<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/css-pg-carrinho.css">
    <link rel="stylesheet" href="stylesheets/css-header.css">
    <link rel="stylesheet" href="stylesheets/css-footer.css">
    <title>carrinho</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <section>
            <ul class="lista" style="list-style-type:none;">
                <li class="lanche">Lanche</li>
                    <ul>
                        <li>Pao: <%= servico.pao%></li>
                        <li>Carne: <%= servico.carne%></li>
                        <li>Ponto da Carne: <%= servico.ponto%></li>
                        <li>Queijo: <%= servico.queijo%></li>
                        <li>Molho: <%= servico.molho%></li>
                        <li>Adicionais: <%= servico.adicionais%></li>
                    </ul> 
                        <li class="acompanhamento">Acompanhamento</li>
                    <ul>
                        <li>Acompanhamento: <%= servico.acompanhamento%> </li>
                    </ul>
                <li class="bebida">Bebida</li>
                    <ul>
                        <li>Bebida: <%= servico.bebidas%> </li>
                    </ul>
            </ul>
        </section>
        
        <section>
            <ul class = "alterar" style="list-style-type:none;">
                <a href="/produtos1"><li class = "alterar1">Alterar pedido</li></a>
                <!-- <li class = "alterar2">nao sei o que isso ta fazendo aqui</li> -->
                <!-- <li class = "alterar3">Alterar pedido</li> -->
            </ul>
            <a href="/pagamento"><p class="pagamento">ir para o pagamento</p></a>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>
