<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/css-pg-carrinho.css">
    <link rel="stylesheet" href="stylesheets/css-header.css">
    <link rel="stylesheet" href="stylesheets/css-footer.css">
    <title>carrinho</title>
</head>
<%- include("card-login-e-registro"); %> 
<body>
    <%- include('./partials/header') %>

    <!-- <script>
        function pagar() {
            const teste = document.getElementById('bebida')
            fetch('http://localhost:3000/pagamento', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({bebida: teste})
            }).then(res => {
            console.log("Request complete! response:", res);
            });
        } -->
    <!-- </script> -->
    <main>
        <section>
            <ul class="lista" style="list-style-type:none;">
                <li class="lanche">Lanche</li>
                    <ul>
                        <li>Lanche: <%= funcoes.nomeProduto(servico.pao) %></li>
                    </ul> 
                        <li class="acompanhamento">Acompanhamento</li>
                    <ul>
                        <li>Acompanhamento: <%= funcoes.nomeProduto(servico.acompanhamento) %> </li>
                    </ul>
                <li class="bebida">Bebida</li>
                    <ul>
                        <li>Bebida: <%= funcoes.nomeProduto(servico.bebidas) %> </li>
                    </ul>
            </ul>
        </section>
        
        <section id="botao">
            <a href="/pagamento"><button class="pagamento">ir para o pagamento</button></a>
            <ul class = "alterar">
                <a href="/produtos1"><li class = "alterar1">Alterar pedido</li></a>
            </ul>
            
            <!-- <button class="pagamento" type="button">Ir para Pagamento</button> -->
        </section>
    </main>
    <%- include('./partials/footer.ejs') %> 

</body>
</html>


 <!-- ADD CARD LOGIN & REGISTRO -->


